<div class="loan-form-container">
  <form [formGroup]="loanProductsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col col-12 col-md-7">
        <div class="section">
          <h2>Assets <span class="sub-title">Select for collateral</span></h2>
          @if(assetsFormArray.controls.length) {
          <div
            *ngFor="let asset of assetsFormArray.controls; let i = index"
            class="item"
          >
            <div>
              <p-checkbox
                [binary]="true"
                [label]="asset.value.label"
                (onChange)="onSelectAsset(i)"
              ></p-checkbox>
            </div>
            <div class="sub-text">
              <div class="me-2"></div>
              <strong>Valued:</strong> {{ asset.value.assetValue | currency }}

              <div class="me-2" *ngIf="asset.value.totalOwed">
                <strong>Owed:</strong> {{ asset.value.totalOwed | currency }}
              </div>
              <div *ngIf="asset.value.apr">
                <strong>APR:</strong> {{ asset.value.apr }}%
              </div>
            </div>
          </div>
          } @else {
          <p>No assets listed.</p>
          }
        </div>
        <div class="section">
          <h2>Creditors <span class="sub-title">Select for payoff</span></h2>
          @if(creditorsFormArray.controls.length) {
          <div
            *ngFor="let creditor of creditorsFormArray.controls; let i = index"
            class="item"
          >
            <p-checkbox
              [binary]="true"
              [label]="creditor.value.label"
              (onChange)="onSelectCreditor(i)"
            ></p-checkbox>
            <div class="sub-text">
              <div class="me-3">
                <strong>Owed:</strong> {{ creditor.value.totalOwed | currency }}
              </div>
              <div>
                <strong>Monthly:</strong>
                {{ creditor.value.monthlyPayment | currency }}
              </div>
              <div><strong>APR:</strong> {{ creditor.value.apr }}%</div>
            </div>
          </div>
          } @else {
          <p>No creditors listed.</p>
          }
        </div>
      </div>
      <div class="col col-12 col-md-5">
        <lib-form-generator
          [formModel]="loanProductsModel"
          [formGroup]="loanProductsForm"
          [options]="formOptions"
          [disableSubmit]="false"
        ></lib-form-generator>
      </div>
    </div>
    <div class="text-end">
      <p-button type="submit" label="Add Loan Product"></p-button>
    </div>
  </form>
</div>
