<div id="loan-products" *ngIf="{ state: lpSvc.state$ | async } as comp">
  <lib-masterpage [fullWidth]="true">
    <div>
      <app-title-bar></app-title-bar>
      <div class="row">
        <div class="col col-12 col-md-8">
          <p-card styleClass="p-2">
            <h1>
              <lib-icons icon="money-check-alt"></lib-icons>
              Loan Products
            </h1>
            <app-loan-products-grid
              [loanProducts]="loanProducts$ | async"
              (modalOpen)="modalOpen($event)"
              (loanProductEdit)="loanProductEdit($event)"
              (loanProductDelete)="lpSvc.loanProductDelete($event)"
            ></app-loan-products-grid>
          </p-card>
        </div>
        <div class="col col-12 col-md-4">
          <p-tabView>
            <p-tabPanel>
              <ng-template pTemplate="header">
                <lib-icons icon="money-check-alt" class="me-2"></lib-icons>
                Loan Products
              </ng-template>
              <app-loan-products-builder
                [state]="comp.state"
                [assets]="assets$ | async"
                [creditors]="creditors$ | async"
                [formDefaults]="loanProductToEdit()"
                (formSubmit)="lpSvc.loanProductAdd($event)"
              ></app-loan-products-builder>
            </p-tabPanel>
            <p-tabPanel>
              <ng-template pTemplate="header">
                <lib-icons icon="eye" class="me-2"></lib-icons> Customer View
              </ng-template>
              <lib-quote-form></lib-quote-form>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </lib-masterpage>
</div>
