@if(products().length) {
<p-table [value]="products()" dataKey="id" styleClass="mb-3">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="type">Product</th>
      <th pSortableColumn="label">Type</th>
      <th pSortableColumn="insured">Insured</th>
      <th pSortableColumn="term">Term</th>
      <th pSortableColumn="fee">Benefit</th>
      <th pSortableColumn="fee">Premium/Fee</th>
      <th pSortableColumn="dateEffective">Effective Date</th>
      <th pSortableColumn="dateEffective">Included</th>
      <th pSortableColumn="" class="text-end">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
    <tr>
      <td>{{ !product.type ? 'Credit' : 'Non-Credit' }}</td>
      <td>{{ product.label }}</td>
      <td>{{ product.insured }}</td>
      <td>{{ product.term }} mo</td>
      <td>{{ product.benefitAmount | currency : 'USD' }}</td>
      <td>{{ product.fee | currency : 'USD' }}</td>
      <td>{{ product.dateEffective | date : 'M/dd/yy' }}</td>
      <td><p-inputSwitch [(ngModel)]="product.selected"></p-inputSwitch></td>
      <td class="text-end">
        @if(product.type !== subProductType.Credit) {
        <a class="me-2" title="Edit this product" (click)="edit(product)"
          ><lib-icons icon="cog" class="me-1"></lib-icons
        ></a>
        <a
          title="Delete this product"
          (click)="lpSvc.nonCreditProductDelete(product)"
          ><lib-icons icon="trash" class="me-1"></lib-icons
        ></a>
        }
      </td>
    </tr>
  </ng-template>
  <!--
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="colLength">
        There are no credit/non-credit products for this loan product.
      </td>
    </tr>
  </ng-template>
  -->
</p-table>
}
