<div class="assets-form-container">
  <form [formGroup]="assetsForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <p-checkbox
        formControlName="anyVehicles"
        [binary]="true"
        label="Any Vehicles?"
      ></p-checkbox>
    </div>

    <div class="field">
      <label for="vehiclesOnCreditBureau">Vehicles on Credit Bureau</label>
      <p-inputNumber formControlName="vehiclesOnCreditBureau"></p-inputNumber>
    </div>

    <div class="field">
      <label for="collateralVehicles">Collateral Vehicles</label>
      <p-inputNumber formControlName="collateralVehicles"></p-inputNumber>
    </div>

    <div class="vehicles-section">
      <h3>Vehicle Information</h3>
      <div formArrayName="vehicles">
        <div
          *ngFor="
            let vehicle of assetsForm['controls']['vehicles']['controls'];
            let i = index
          "
        >
          <div [formGroupName]="i" class="vehicle-group">
            <p-dropdown
              formControlName="who"
              [options]="[{ label: 'Applicant', value: 'Applicant' }]"
              placeholder="Select Who"
            ></p-dropdown>
            <p-dropdown
              formControlName="category"
              [options]="[{ label: 'Auto or Truck', value: 'Auto or Truck' }]"
              placeholder="Select Category"
            ></p-dropdown>
            <p-checkbox
              formControlName="collateral"
              [binary]="true"
              label="Collateral?"
            ></p-checkbox>
            <div class="field">
              <label for="reasonNotCollateral">Reason Not Collateral</label>
              <input
                id="reasonNotCollateral"
                pInputText
                formControlName="reasonNotCollateral"
              />
            </div>
            <div class="field">
              <label for="year">Year</label>
              <p-inputNumber formControlName="year"></p-inputNumber>
            </div>
            <div class="field">
              <label for="make">Make</label>
              <input id="make" pInputText formControlName="make" />
            </div>
            <div class="field">
              <label for="model">Model</label>
              <input id="model" pInputText formControlName="model" />
            </div>
            <div class="field">
              <label for="vin">VIN</label>
              <input id="vin" pInputText formControlName="vin" />
            </div>
            <div class="field">
              <label for="mileage">Mileage</label>
              <p-inputNumber formControlName="mileage"></p-inputNumber>
            </div>
            <div class="field">
              <label for="value">Value</label>
              <p-inputNumber formControlName="value"></p-inputNumber>
            </div>
            <div class="field">
              <label for="ownedFreeAndClear">Owned Free & Clear?</label>
              <p-checkbox
                formControlName="ownedFreeAndClear"
                [binary]="true"
              ></p-checkbox>
            </div>
            <div class="field">
              <label for="autoCheckComplete">Auto check complete?</label>
              <p-checkbox
                formControlName="autoCheckComplete"
                [binary]="true"
              ></p-checkbox>
            </div>
            <div class="field">
              <label for="vehicleInspection">Vehicle Inspection?</label>
              <p-checkbox
                formControlName="vehicleInspection"
                [binary]="true"
              ></p-checkbox>
            </div>
            <div class="field">
              <label for="qualifiedForDirectAuto"
                >Qualified for Direct Auto?</label
              >
              <p-checkbox
                formControlName="qualifiedForDirectAuto"
                [binary]="true"
              ></p-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="salvageTitle">Salvage Title?</label>
      <p-radioButton
        formControlName="salvageTitle"
        name="salvageTitle"
        value="Yes"
        label="Yes"
      ></p-radioButton>
      <p-radioButton
        formControlName="salvageTitle"
        name="salvageTitle"
        value="No"
        label="No"
      ></p-radioButton>
    </div>

    <div class="field">
      <label for="purchaseMoney">Purchase Money?</label>
      <p-radioButton
        formControlName="purchaseMoney"
        name="purchaseMoney"
        value="Yes"
        label="Yes"
      ></p-radioButton>
      <p-radioButton
        formControlName="purchaseMoney"
        name="purchaseMoney"
        value="No"
        label="No"
      ></p-radioButton>
    </div>

    <button
      type="submit"
      pButton
      label="Submit"
      [disabled]="!assetsForm.valid"
    ></button>
  </form>
</div>
