.loan-product {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  border: 1px solid #004b75;
  margin-bottom: 1em;
  @media (min-width: 768px) {
    display: block;
    width: initial;
    margin-left: 0;
    margin-right: 0.5rem;
  }
}
.lp-wrapper {
  padding: 1rem;
  min-width: 100%;
  @media (min-width: 768px) {
    padding: 2rem;
    padding-top: 1rem;
    min-width: 205px;
  }
}
.label {
  text-transform: uppercase;
  font-size: 11px;
}
.value {
  font-size: 18px;
  font-weight: 500;
}
table {
  width: initial;
}
td {
  line-height: initial;
  vertical-align: middle;
  background: transparent;
  &.has-label {
    height: 48px;
  }
}
.highlight {
  background: #ffffbf;
}
.legend {
  font-weight: 500;
}
.collateral {
  background: linear-gradient(to right, #004b75, #00d0cd);
  font-size: 12px;
  text-align: center;
  min-height: 18px;
  font-weight: 700;
  color: #fff;
  &.unsecured {
    background: #b9b8b8;
  }
  &.no-bg {
    background: initial;
  }
}
