<div class="bg"></div>
<div class="container">
  <p-card>
    <div style="max-width: 480px; margin: auto">
      <h1>Welcome Back</h1>
      <p-tabView>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <lib-icons icon="money-check-alt" class="me-2"></lib-icons> Current
            Offer
          </ng-template>

          <div class="loan-product p-3" *ngIf="product$ | async as product">
            <div class="row">
              <div class="col col-6">
                <div class="lp-main">
                  <div class="lp-details">
                    <div class="label">Cash Out</div>
                    <div class="value">
                      {{
                        product.cashOut | currency : 'USD' : 'symbol' : '1.0-2'
                      }}
                    </div>
                  </div>

                  <div class="lp-details">
                    <div class="label">Monthly Payment</div>
                    <div class="value">
                      {{
                        product.monthlyPayment
                          | currency : 'USD' : 'symbol' : '1.0-2'
                      }}
                    </div>
                  </div>

                  <div class="lp-details">
                    @if(product.paymentImpact > 0;){
                    <div class="label">
                      Monthly Savings
                      <lib-icons
                        icon="info-circle"
                        pTooltip="Your monthly cash flow will be improved by this amount"
                        tooltipPosition="bottom"
                      ></lib-icons>
                    </div>
                    <div class="value d-flex" style="align-items: center">
                      {{
                        product.paymentImpact
                          | currency : 'USD' : 'symbol' : '1.0-2'
                      }}
                    </div>
                    } @else {
                    <div class="label">
                      Monthly Cost
                      <lib-icons
                        icon="info-circle"
                        pTooltip="This is the increase in your monthly cost"
                        tooltipPosition="bottom"
                      ></lib-icons>
                    </div>
                    <div class="value" *ngIf="product.paymentImpact < 0">
                      {{
                        -product.paymentImpact
                          | currency : 'USD' : 'symbol' : '1.0-2'
                      }}
                    </div>
                    }
                  </div>

                  <div class="lp-details">
                    <div
                      class="label"
                      style="font-size: 10.5px; letter-spacing: -0.15px"
                    >
                      With Optional Products
                    </div>
                    <div class="value" style="font-size: 26px">+$0 - $127</div>
                  </div>
                </div>
              </div>
              <!--

              -->
              <div class="col col-6">
                <div class="lp-details">
                  <div class="label">Total Loan Amount</div>
                  <div class="value">
                    {{
                      product.loanAmount | currency : 'USD' : 'symbol' : '1.0-2'
                    }}
                  </div>
                </div>
                <div class="lp-details">
                  <div class="label">Term</div>
                  <div class="value">{{ product.term }} Months</div>
                </div>
                <!--
                <div class="lp-details">
                  <div class="label">Rate</div>
                  <div class="value">{{ product.apr }}%</div>
                </div>
                -->
                <div class="lp-details">
                  <div class="label">APR</div>
                  <div class="value">{{ product.apr }}%</div>
                </div>
                <div class="lp-details">
                  <div class="label">Type</div>
                  <div class="value">
                    @if(product.isSecured) {
                    <lib-icons
                      icon="lock"
                      title="Secured"
                      class="me-1"
                    ></lib-icons>
                    Secured } @else {
                    <lib-icons
                      icon="lock-open"
                      title="Secured"
                      class="me-1"
                    ></lib-icons>
                    Unsecured }
                  </div>
                </div>
                <div class="lp-details">
                  <div class="label">Vehicle</div>
                  <div class="value">
                    <lib-icons icon="car" class="me-1"></lib-icons>
                    {{product.vehicle?.[0]}}
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <button
              class="p-button w-100 text-center d-block mt-3"
              routerLink="/products"
            >
              <lib-icons icon="search" class="me-1"></lib-icons> Compare Offers
              (6)
            </button>
          </div>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <lib-icons icon="cog" class="me-2"></lib-icons>Loan Options
          </ng-template>
          <lib-quote-form
            [ranges]="ranges$ | async"
            [formDefaults]="quoteFormDefaults$ | async"
            (quoteFormChanged)="quoteFormChanged($event)"
          ></lib-quote-form>
        </p-tabPanel>
      </p-tabView>

      <!--
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="See Offers Based On Goal">

            </p-accordionTab>
            <p-accordionTab header="Customize Offer Details">

            </p-accordionTab>
          </p-accordion>
      <button
        class="p-button w-100 text-center d-block"
        [disabled]="isDisabled"
        routerLink="/products"
      >
        View Loan Products
      </button>
      -->

      <!--
      <div class="d-flex" style="justify-content: space-between">
        <button pButton class="me-1" (click)="prev()" [disabled]="index === 0">
          Previous Offer
        </button>
        <button
          pButton
          class="ms-1"
          (click)="next()"
          [disabled]="index > 4"
          style="margin-right: 0.5rem"
        >
          Next Offer
        </button>
      </div>
-->
    </div>
  </p-card>
</div>

<p-confirmDialog></p-confirmDialog>
