<lib-masterpage>
  <div style="max-width: 480px; margin: auto">
    <h1>Please Log In</h1>
    <p-card>
      <p-message
        styleClass="mb-3 w-100"
        *ngIf="errorMessage$ | async"
        severity="error"
        text="{{ errorMessage$ | async }}"
      ></p-message>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <lib-form-generator
          [formModel]="formModel"
          [formGroup]="loginForm"
          [options]="formOptions"
          (completed)="login()"
        >
        </lib-form-generator>
      </form>
    </p-card>
  </div>
</lib-masterpage>
