<div class="loan-products-builder">
  <h1 class="mb-1">
    Loan Products <span style="font-size: 50%">(#C0500D)</span>
  </h1>
  <div class="loan-products-info">
    <div class="float-end d-flex" style="align-items: center; margin-top: 1rem">
      <div class="circle"></div>
      Customer Connected
    </div>
    <p class="mb-1"><strong>Customer Preferences</strong></p>
    <div class="info-inline">
      <div>Desired Loan Amount - $6,000</div>
      <div>Monthly Income - $2,000</div>
      <div>Loan Duration - 48 mo</div>
      <div>Desired APR - 21%</div>
      <div>Car As Collateral - Yes</div>
    </div>
  </div>
  <div class="d-none">
    <p class="mb-0">
      <strong>System Decision - <span class="green">Approved</span></strong>
    </p>
    <table class="table table-sm table-striped">
      <tbody>
        <tr>
          <td>Secured</td>
          <td>$18,500</td>
        </tr>
        <tr>
          <td>Unsecured</td>
          <td>$2,100</td>
        </tr>
        <tr>
          <td>Risk Grade</td>
          <td>B</td>
        </tr>
      </tbody>
    </table>
    <p class="mb-0"><strong>Direct Auto</strong></p>
    <table class="table table-sm table-striped table-hover">
      <tbody>
        <tr>
          <td>Up To</td>
          <td>N/A</td>
        </tr>
      </tbody>
    </table>
    <p class="mb-0"><strong>Total Monthly Income</strong></p>
    <table class="table table-sm table-striped table-hover">
      <tbody>
        <tr>
          <td>Disclosed</td>
          <td>$3,800</td>
        </tr>
        <tr>
          <td>Entered</td>
          <td>$3,800</td>
        </tr>
        <tr>
          <td>Verified</td>
          <td>N/A</td>
        </tr>
      </tbody>
    </table>
    <p class="mb-0"><strong>Before Loan Budget</strong></p>
    <table class="table table-sm table-striped table-hover">
      <tbody>
        <tr>
          <td>NDI</td>
          <td>$2,675</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col col-12 col-lg-5 mb-3">
      <p-card styleClass="mb-3">
        <ng-template pTemplate="header">
          <div class="p-card-body pb-0">
            <div class="float-end">
              <p-button
                label="Generate Products"
                (click)="generateProducts()"
              ></p-button>
            </div>
            <div class="p-card-title">Create Loan Product</div>
          </div>
        </ng-template>

        <div class="row">
          <div class="col col-12 col-lg-7">
            <form [formGroup]="loanProductsForm">
              <p>Creditors (Select for payoff)</p>
              <table class="table table-sm table-striped table-hover">
                <tbody formArrayName="creditors">
                  @for(creditor of teamSvc.creditors;track creditor.label; let
                  index = $index) {
                  <tr
                    class="clickable"
                    (click)="toggleFormArray('creditors', index)"
                  >
                    <td>
                      <p-checkbox
                        [formControlName]="index"
                        [binary]="true"
                      ></p-checkbox>
                    </td>
                    <td>{{ creditor.label }}</td>
                    <td>${{ creditor.totalOwed }}</td>
                    <td>${{ creditor.monthlyPayment }}</td>
                  </tr>
                  }
                </tbody>
              </table>
              <p>Assets (Select for collateral)</p>
              <table class="table table-sm table-striped table-hover">
                <tbody formArrayName="assets">
                  @for(asset of teamSvc.assets;track asset.label; let index =
                  $index) {
                  <tr
                    class="clickable"
                    (click)="toggleFormArray('assets', index)"
                  >
                    <td>
                      <p-checkbox
                        [formControlName]="index"
                        [binary]="true"
                      ></p-checkbox>
                    </td>
                    <td>{{ asset.label }}</td>
                    <td>${{ asset.totalOwed }}</td>
                  </tr>
                  }
                </tbody>
              </table>
            </form>
          </div>
          <div class="col col-12 col-lg-5">
            <lib-form-generator
              [formModel]="loanProductsModel"
              [formGroup]="loanProductsForm"
              [options]="formOptions"
              [disableSubmit]="false"
              (completed)="onFormCompleted($event)"
            ></lib-form-generator>
            <!--
            <table class="table table-sm table-striped table-hover mb-0">
              <tbody>
                <tr>
                  <td>Cash to Customer</td>
                  <td>
                    <input pInputText value="$2,100" />
                    <p-checkbox [binary]="true" label="Override"></p-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>Payoffs +</td>
                  <td><input pInputText /></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Base Cash Advance =</td>
                  <td>
                    <input pInputText value="$2,100" />
                    <p-button label="Calculate"></p-button>
                  </td>
                </tr>
                <tr>
                  <td>Enter Fees</td>
                  <td><input pInputText value="$2,100" /></td>
                </tr>
                <tr>
                  <td>Select Non-Credit</td>
                  <td><input pInputText /></td>
                </tr>
                <tr>
                  <td>Due Day</td>
                  <td><input pInputText value="$2,100" /></td>
                </tr>
              </tbody>
            </table>
            -->
          </div>
        </div>
      </p-card>
    </div>
    <div class="col col-12 col-lg-7 mb-3">
      <p-card header="Products">
        @if(loanProducts.length) {
        <div class="table-responsive">
          <table class="table table-sm table-striped table-hover small">
            <thead>
              <tr>
                <th>Product</th>
                <th>System Decision</th>
                <th>Base Advance</th>
                <th>LTV</th>
                <th>Term</th>
                <th>Monthly Payment</th>
                <th>APR</th>
                <th>LIT</th>
                <th>Net Dip Income</th>
                <th>PTI</th>
                <th>Meets Approval?</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              @for(productType of teamSvc.loanProductTypes; track
              productType.label) {
              <tr class="tr-group">
                <td colspan="12">
                  {{ productType.label }} <small>({{ productType.qty }})</small>
                </td>
              </tr>

              @for(product of loanProducts; track product.productDescription) {
              @if(product.productType === productType.productTypeId) {
              <tr>
                <td>{{ product.productDescription }}</td>
                <td>{{ product.systemDecision }}</td>
                <td>{{ product.baseAdvance }}</td>
                <td>{{ product.ltv }}</td>
                <td>{{ product.term }} mo</td>
                <td>${{ product.monthlyPayment }}</td>
                <td>{{ product.apr }}%</td>
                <td>{{ product.baseAdvance }}</td>
                <td>${{ product.lit }}</td>
                <td>{{ product.ndi }}%</td>
                <td>{{ product.baseAdvance }}</td>
                <td><button>View</button></td>
              </tr>
              } }}
            </tbody>
          </table>
        </div>
        <div class="text-end">
          <p-button label="Send To Customer"></p-button>
        </div>
        } @else {
        <p>
          Use the panel on the right to build loan products and click the
          "Generate Products" button when done.
        </p>
        }
      </p-card>
    </div>
  </div>
</div>
