<div class="loan-products-builder" *ngIf="lpState$ | async as state">
  <div class="float-end">
    <button class="p-button p-button-text">
      <lib-icons icon="external-link-alt" class="me-2"></lib-icons> Open In
      Class
    </button>
  </div>
  <h1 class="mb-1">
    <lib-icons icon="money-check-alt"></lib-icons> Loan Products
    <span style="font-size: 50%">(#{{ loanId$ | async }})</span>
  </h1>

  <div class="loan-products-info">
    <div>
      <p>
        <strong>System Decision - <span class="">Approved</span></strong>
      </p>
      <div class="info-inline">
        <div><small>Secured</small><br />$18,500</div>
        <div><small>Unsecured</small><br />$2,100</div>
        <div><small>Risk Grade</small><br />B</div>
      </div>
    </div>
    <div>
      <p>
        <strong>Direct Auto</strong>
      </p>
      <div class="info-inline">
        <div><small>Up To</small><br />N/A</div>
      </div>
    </div>
    <div>
      <p>
        <strong>Total Monthly Income</strong>
      </p>
      <div class="info-inline">
        <div><small>Disclosed</small><br />$3,800</div>
        <div><small>Entered</small><br />$3,800</div>
        <div><small>Verified</small><br />N/A</div>
      </div>
    </div>
    <div>
      <p>
        <strong>Before Loan Budget</strong>
      </p>
      <div class="info-inline">
        <div><small>NDI</small><br />$2,675</div>
      </div>
    </div>
    <div *ngIf="state.customerConnected">
      <p>
        <strong class="me-2">Customer Preferences</strong>
        <small class="me-2" style="font-size: 12px">
          <em>Customer Is Connected</em></small
        ><span class="circle green" style="position: relative; top: 3px"></span>
      </p>
      <div class="info-inline">
        <div>
          <small>Loan Amount</small><br />{{
            state.customerPreferences?.loanAmount
              | currency : 'USD' : 'symbol' : '1.0-2'
          }}
        </div>
        <div>
          <small>Monthly Income</small><br />{{
            state.customerPreferences?.monthlyIncome
              | currency : 'USD' : 'symbol' : '1.0-2'
          }}
        </div>
        <div>
          <small>Term</small><br />{{ state.customerPreferences?.loanDuration }}
          mo
        </div>
        <div><small>APR</small><br />{{ state.customerPreferences?.apr }}%</div>
        <div>
          <small>Collateral</small><br />{{
            state.customerPreferences?.collateral
          }}
        </div>
        <div>
          <small>Location</small><br />
          {{ state.customerLocation }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 col-lg-7 mb-3">
      <p-card>
        <ng-template pTemplate="header">
          <div class="p-card-body pb-0">
            <div class="p-card-title">
              <lib-icons icon="bars"></lib-icons> Products ({{
                loanProducts.length
              }})
            </div>
          </div>
        </ng-template>

        @if(loanProducts.length) {
        <div class="table-responsive">
          <table class="table table-smtable-hover small">
            <thead>
              <tr>
                <th>Product</th>
                <th>System Decision</th>
                <th>Base Advance</th>
                <th>LTV</th>
                <th>Term</th>
                <th>Monthly Payment</th>
                <th>APR</th>
                <th>LIT</th>
                <th>Net Dip Income</th>
                <th>PTI</th>
                <th>Meets Approval?</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              @for(productType of teamSvc.loanProductTypes; track
              productType.label; let i = $index) {
              <tr class="tr-group" *ngIf="lpVisibility[i]">
                <td colspan="12">
                  {{ productType.label }}
                  <!-- <small>({{ productType.qty }})</small>-->
                </td>
              </tr>

              @for(product of loanProducts; track product.productDescription;
              let index = $index) { @if(product.productType ===
              productType.productTypeId) {
              <tr>
                <td>{{ product.productDescription }}</td>
                <td>
                  {{
                    product.systemDecision
                      | currency : 'USD' : 'symbol' : '1.0-2'
                  }}
                </td>
                <td>
                  {{
                    product.baseAdvance | currency : 'USD' : 'symbol' : '1.0-2'
                  }}
                </td>
                <td>{{ product.ltv }}</td>
                <td>{{ product.term }} mo</td>
                <td>{{ product.monthlyPayment }}</td>
                <td>{{ product.apr }}%</td>
                <td>{{ product.lit }}</td>
                <td>${{ product.ndi }}</td>
                <td>{{ product.pti }}%</td>
                <td>Yes</td>
                <td style="white-space: nowrap">
                  <a class="clickable me-2">
                    <lib-icons
                      icon="eye"
                      title="View product details"
                    ></lib-icons>
                  </a>
                  <a class="clickable me-2">
                    <lib-icons icon="cog" title="Edit this product"></lib-icons>
                  </a>
                  <a
                    class="clickable"
                    (click)="productDelete(index)"
                    title="Delete this product"
                  >
                    <lib-icons icon="trash"></lib-icons
                  ></a>
                </td>
              </tr>
              } }}
            </tbody>
          </table>
        </div>
        <div class="d-flex" style="justify-content: space-between">
          <div>
            <button
              class="p-button p-button-outlined me-2"
              (click)="sendToCustomer()"
            >
              <lib-icons icon="user" class="me-2"></lib-icons> Send To Customer
            </button>
          </div>
          <div>
            <button class="p-button me-2">
              <lib-icons icon="save" class="me-2"></lib-icons> Save Quote
            </button>
            <button class="p-button">
              <lib-icons icon="external-link-alt" class="me-2"></lib-icons> Save
              Quote & Open In Class
            </button>
          </div>
        </div>
        } @else {
        <p>
          Use the panel on the right to build loan products and click the "Add
          Product" button when done.
        </p>
        }
      </p-card>
    </div>
    <div class="col col-12 col-lg-5 mb-3">
      <p-card styleClass="mb-3">
        <ng-template pTemplate="header">
          <div class="p-card-body pb-0">
            <div class="float-end">
              <button class="p-button" (click)="generateProducts()">
                <lib-icons icon="plus" class="me-2"></lib-icons> Add Product
              </button>
            </div>
            <div class="p-card-title">
              <lib-icons icon="cog"></lib-icons> Create Loan Product
            </div>
          </div>
        </ng-template>

        <div class="row">
          <div class="col col-12 col-lg-7">
            <form [formGroup]="loanProductsForm">
              <p>Creditors (Select for payoff)</p>
              <table class="table table-sm table-striped table-hover">
                <tbody formArrayName="creditors">
                  @for(creditor of teamSvc.creditors;track creditor.label; let
                  index = $index) {
                  <tr
                    class="clickable"
                    (click)="toggleFormArray('creditors', index)"
                  >
                    <td>
                      <p-checkbox
                        [formControlName]="index"
                        [binary]="true"
                      ></p-checkbox>
                    </td>
                    <td>{{ creditor.label }}</td>
                    <td>${{ creditor.totalOwed }}</td>
                    <td>${{ creditor.monthlyPayment }}</td>
                  </tr>
                  }
                </tbody>
              </table>
              <p>Assets (Select for collateral)</p>
              <table class="table table-sm table-striped table-hover">
                <tbody formArrayName="assets">
                  @for(asset of teamSvc.assets;track asset.label; let index =
                  $index) {
                  <tr
                    class="clickable"
                    (click)="toggleFormArray('assets', index)"
                  >
                    <td>
                      <p-checkbox
                        [formControlName]="index"
                        [binary]="true"
                      ></p-checkbox>
                    </td>
                    <td>{{ asset.label }}</td>
                    <td>${{ asset.totalOwed }}</td>
                  </tr>
                  }
                </tbody>
              </table>
            </form>
          </div>
          <div class="col col-12 col-lg-5">
            <lib-form-generator
              [formModel]="loanProductsModel"
              [formGroup]="loanProductsForm"
              [options]="formOptions"
              [disableSubmit]="false"
              (completed)="onFormCompleted($event)"
            ></lib-form-generator>
          </div>
        </div>
        <hr />
        <div class="d-flex" style="justify-content: space-between">
          <button
            class="p-button p-button-outlined me-2"
            (click)="openNonCreditModal()"
          >
            <lib-icons icon="creditcard" class="me-2"></lib-icons> Select
            Non-Credit Products
          </button>
          <button class="p-button" (click)="generateProducts()">
            <lib-icons icon="plus" class="me-2"></lib-icons> Add Product
          </button>
        </div>
      </p-card>
    </div>
  </div>
</div>
