<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Product / Insured or Member Name</th>
      <th>Benefit Amount</th>
      <th>Premium Or Fee</th>
      <th>Included In Loan</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tr-group">
      <td colspan="12">Auto Plan</td>
    </tr>
    <tr>
      <td>Short Term Disability</td>
      <td>$1,000</td>
      <td>$7/mo</td>
      <td><button class="p-button">Add To Quote</button></td>
    </tr>
    <tr class="tr-group">
      <td colspan="12">Home & Auto Plan</td>
    </tr>
    <tr>
      <td>Life Insurance</td>
      <td>$6,000</td>
      <td>$50/mo</td>
      <td><a class="clickable">Remove from quote</a></td>
    </tr>
  </tbody>
</table>
