#loan-products-grid {
  .row-selected,
  .row-selected td {
    background: #c6d0f3;
  }
  .p-splitbutton {
    padding: 0;
    .p-splitbutton-defaultbutton {
      padding: 0;
    }
    .p-splitbutton-menubutton.p-button-icon-only {
      padding: 0 0.75rem;
    }
    .p-button-icon {
      font-size: 12px;
      padding-left: 0.5rem;
      padding-right: 0;
      margin: 0;
    }
    .p-button-label {
      padding: 0 0.5rem;
    }
  }
  // Disable input switch animation to prevent a FOUC when the data is changed
  .p-inputswitch-slider,
  .p-inputswitch .p-inputswitch-slider,
  .p-inputswitch .p-inputswitch-slider::before {
    transition: none !important;
  }
}
