.title-bar {
  .title {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }
  .align {
    display: flex;
    align-items: center;
  }
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-workedon {
    line-height: 14px;
  }
  .title-icon {
    font-size: 22px;
    margin-right: 0.5rem;
    position: relative;
    top: 2px;
  }
  .title-sub {
    font-size: 10px;
  }
}
